<div class="course-card" [ngClass]="cardClasses()" *ngIf="course">

    <div class="course-title">
        {{cardIndex +') '+ course.description}}
    </div>

    <img width="300px" alt="course logo" *ngIf="onImageVisible() ; else noImage" [src]="course.iconUrl" />

    <ng-template #noImage>
        <P>no image is available</P>
    </ng-template>

    <div class="course-description">
        {{course.longDescription}}
    </div>
    <div class="course-category" [ngSwitch]="course.category">
        <div class="category" *ngSwitchCase="'BEGINNER'">beginer</div>
        <div class="category" *ngSwitchCase="'ADVANCED'">advanced</div>
        <div class="category" *ngSwitchCase="'INTERMEDIATE'">intermediate</div>
        <div class="category" *ngSwitchDefault> All Levels</div>
    </div>

    <button (click)="onCourseViewed()">
        View Course
    </button>

</div>